body {
    color: black
}

.header {
    padding: 5px 0;
    display: flex;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 80px;
    background-color: #111111;
    transition: background-color 0.3s;
    z-index: 10;
}

.warning{
    display: none;
    background-color: #d1363a;
    position: fixed;
    top: 200px;
    left: 500px;
    min-width: 500px;
    
    border: 2px solid black;
    border-radius: 10px;
    z-index: 100;
    text-align: center;
    
    padding-bottom: 20px;
    transition: all 0.5s ease-in-out; /* Tạo hiệu ứng chuyển đổi mượt mà */
}
.warning_btn{
    margin: auto;
    width: 50px;
    border: 2px solid black;
    background-color: rgb(62, 62, 219);
}

.exits_delete{
    font-size: 20px;
    position: absolute;
    top: 8px;
    right: 10px;
}
.option{

    bottom: 60px;
    right: 60px;
    font-size: 30px;
    position: fixed;
}

.delete_option{
    display: block;
    margin-bottom: 10px;
}

.content_bai_viet {
    display: flex;
    gap: 80px;
    background-color: #dbd9d6;
    padding: 80px 136px;
}

.left_content {
    flex: 4;
    background-color: #dbd9d6;
    position: relative;
}

.list_icon {
    position: absolute;
    top: 180px;
    left: 60px;
}

.list_icon i {
    margin-bottom: 10px;
    font-size: 32px;
}

.right_content {
    flex: 2;
    background-color: #dbd6d9;
}

.item {
    margin-bottom: 20px;
}

.mac {
    text-align: center;
    height: 20px;
    width: 80px;
    background-color: #d1363a;
    ;
    margin-right: 10px;
}

.mac--absolut {
    position: absolute;

}

.date {
    margin-bottom: 20px;
}

.img_1 {
    height: 400px;
}

.img_right {
    height: 200px;
    background-color: #1aa3f2;
}

.text--size {
    font-size: 25px;
}